# SI 618 Homework 1

## Introduction: (5 points)

### Q1: Mount drive and change directory to where ‘book_data.csv’ is located (0.5 point)

In [3]:
# 查看目前的工作路径
import os
path = os.getcwd()
print(path)

/Users/peilinqiu/Desktop/Python/SI618/Homework Assignments/Homework1/Homework1

In [4]:
# 更改当前工作路径
os.chdir('/Users/peilinqiu/Desktop/Python/SI618/Homework Assignments/Homework1/Homework1')
print(os.getcwd())

/Users/peilinqiu/Desktop/Python/SI618/Homework Assignments/Homework1/Homework1

### Q2: Load the dataset. (0.5 point)

In [5]:
import pandas as pd
import numpy as np

In [6]:
book_data=pd.read_csv("book_data.csv")

In [7]:
book_data.head()

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...
1,Madeline Miller,"In the house of Helios, god of the sun and mig...",NaN,Hardcover,9.780000e+12,393 pages,4.34,61357,9369,Circe,Fantasy|Fiction|Fantasy|Mythology|Historical|H...,https://images.gr-assets.com/books/1508879575l...
2,Holly Black,Of course I want to be like them. They’re beau...,NaN,Hardcover,9.780000e+12,370 pages,4.18,62897,11948,The Cruel Prince,Fantasy|Young Adult|Fairies|Fae,https://images.gr-assets.com/books/1493047153l...
3,A.J. Finn,Anna Fox lives alone—a recluse in her New York...,NaN,Kindle Edition,NaN,449 pages,3.97,175678,20645,The Woman in the Window,Mystery|Thriller|Fiction|Suspense|Thriller|Mys...,https://images.gr-assets.com/books/1528225499l...
4,Tara Westover,An unforgettable memoir in the tradition of Th...,NaN,Hardcover,9.780000e+12,334 pages,4.47,128337,16424,Educated,Nonfiction|Autobiography|Memoir|Biography,https://images.gr-assets.com/books/1506026635l...

### Q3: How many books are there? (2 points)

In [8]:
# 查询具体某一列的count
book_data[['book_title']].count()

book_title    1141
dtype: int64

In [9]:
# 查询所有列分别的count
book_data.count()

book_authors         1141
book_desc            1136
book_edition          105
book_format          1107
book_isbn             691
book_pages           1071
book_rating          1141
book_rating_count    1141
book_review_count    1141
book_title           1141
genres               1130
image_url            1137
dtype: int64

### Q4: How many books have more than 1 author? (2 points)

In [226]:
## 仇培林答案
author_num = book_data['book_authors'].str.split('|', expand=True).stack().value_counts()

In [227]:
author_num

K.  Webster                  15
Samantha Chase                6
Penny Reid                    5
Stephen King                  5
Vi Keeland                    5
                             ..
Mary H.K. Choi                1
Florence Gonsalves            1
Catherynne M. Valente         1
Wendy Heard                   1
Jennifer Zeynab Joukhadar     1
Length: 1212, dtype: int64

In [228]:
author_num.head(15)

K.  Webster        15
Samantha Chase      6
Penny Reid          5
Stephen King        5
Vi Keeland          5
Penelope Ward       5
Mike Mignola        5
Tijan               4
Jill Shalvis        4
N.R. Walker         4
M.A. Innes          4
James Patterson     4
Julie Mulhern       4
Stuart Woods        4
Karina Halle        4
dtype: int64

In [229]:
author_num[author_num > 1].count()

162

In [10]:
## 杨丹亭答案
book_data['author_num'] = book_data['book_authors'].apply(lambda x: x.count('|')+1)
book_data.head(10)

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url,author_num
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...,1
1,Madeline Miller,"In the house of Helios, god of the sun and mig...",NaN,Hardcover,9.780000e+12,393 pages,4.34,61357,9369,Circe,Fantasy|Fiction|Fantasy|Mythology|Historical|H...,https://images.gr-assets.com/books/1508879575l...,1
2,Holly Black,Of course I want to be like them. They’re beau...,NaN,Hardcover,9.780000e+12,370 pages,4.18,62897,11948,The Cruel Prince,Fantasy|Young Adult|Fairies|Fae,https://images.gr-assets.com/books/1493047153l...,1
3,A.J. Finn,Anna Fox lives alone—a recluse in her New York...,NaN,Kindle Edition,NaN,449 pages,3.97,175678,20645,The Woman in the Window,Mystery|Thriller|Fiction|Suspense|Thriller|Mys...,https://images.gr-assets.com/books/1528225499l...,1
4,Tara Westover,An unforgettable memoir in the tradition of Th...,NaN,Hardcover,9.780000e+12,334 pages,4.47,128337,16424,Educated,Nonfiction|Autobiography|Memoir|Biography,https://images.gr-assets.com/books/1506026635l...,1
5,Tomi Adeyemi,They killed my mother.They took our magic.They...,NaN,Hardcover,9.780000e+12,525 pages,4.25,56789,12046,Children of Blood and Bone,Fantasy|Young Adult|Fiction,https://images.gr-assets.com/books/1516127989l...,1
6,Tayari Jones,Newlyweds Celestial and Roy are the embodiment...,NaN,Hardcover,9.780000e+12,308 pages,4.01,91515,9836,An American Marriage,Fiction|Contemporary|Audiobook,https://images.gr-assets.com/books/1491493625l...,1
7,Michelle McNamara|Gillian Flynn|Patton Oswalt,A masterful true crime account of the Golden S...,NaN,ebook,9.780000e+12,352 pages,4.22,60784,7148,I'll Be Gone in the Dark: One Woman's Obsessiv...,Nonfiction|Crime|True Crime|Mystery|Crime|Myst...,https://images.gr-assets.com/books/1499131009l...,3
8,Greer Hendricks|Sarah Pekkanen,"When you read this book, you will make many as...",NaN,Hardcover,9.780000e+12,346 pages,3.85,89835,11331,The Wife Between Us,Thriller|Fiction|Mystery|Suspense|Thriller|Mys...,https://images.gr-assets.com/books/1496862122l...,2
9,Neal Shusterman,"Rowan has gone rogue, and has taken it upon hi...",NaN,Hardcover,9.780000e+12,504 pages,4.53,22823,4620,Thunderhead,Young Adult|Science Fiction|Science Fiction|Dy...,https://images.gr-assets.com/books/1505658534l...,1

In [18]:
book_data.to_excel('book_data.xlsx', index = None, header=True)

In [15]:
num = book_data['author_num'] > 1
num.value_counts()

False    997
True     144
Name: author_num, dtype: int64

## Length: (30 points)

### Q5: You will want to create a new column with the integer value of the number of pages (15 points)

In [230]:
book_data.dtypes

book_authors          object
book_desc             object
book_edition          object
book_format           object
book_isbn            float64
book_pages            object
book_rating          float64
book_rating_count      int64
book_review_count      int64
book_title            object
genres                object
image_url             object
dtype: object

In [231]:
book_data['book_pages'].astype(str)

0       435 pages
1       393 pages
2       370 pages
3       449 pages
4       334 pages
          ...
1136    304 pages
1137    417 pages
1138    320 pages
1139    419 pages
1140    304 pages
Name: book_pages, Length: 1141, dtype: object

In [232]:
book_data['book_pages'] = book_data.book_pages.str.replace(r"[a-zA-Z]",'')

In [233]:
book_data.head()

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435,4.33,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...
1,Madeline Miller,"In the house of Helios, god of the sun and mig...",NaN,Hardcover,9.780000e+12,393,4.34,61357,9369,Circe,Fantasy|Fiction|Fantasy|Mythology|Historical|H...,https://images.gr-assets.com/books/1508879575l...
2,Holly Black,Of course I want to be like them. They’re beau...,NaN,Hardcover,9.780000e+12,370,4.18,62897,11948,The Cruel Prince,Fantasy|Young Adult|Fairies|Fae,https://images.gr-assets.com/books/1493047153l...
3,A.J. Finn,Anna Fox lives alone—a recluse in her New York...,NaN,Kindle Edition,NaN,449,3.97,175678,20645,The Woman in the Window,Mystery|Thriller|Fiction|Suspense|Thriller|Mys...,https://images.gr-assets.com/books/1528225499l...
4,Tara Westover,An unforgettable memoir in the tradition of Th...,NaN,Hardcover,9.780000e+12,334,4.47,128337,16424,Educated,Nonfiction|Autobiography|Memoir|Biography,https://images.gr-assets.com/books/1506026635l...

In [234]:
book_data.dtypes

book_authors          object
book_desc             object
book_edition          object
book_format           object
book_isbn            float64
book_pages            object
book_rating          float64
book_rating_count      int64
book_review_count      int64
book_title            object
genres                object
image_url             object
dtype: object

In [235]:
print(book_data[book_data['book_pages'].isnull()])

            book_authors                                          book_desc  \
15       Shantel Tessier  My name is Avery Decker, and my story isn’t fo...
20       Shantel Tessier  What do you do when the devil has you in his s...
142          Ella Fields  Callum Welsh perfected the art of hating me wh...
147         Harper Sloan  Ari Daniels didn’t count on her whole world tu...
178         Meghan Quinn  "Good Morning Malibu, it’s another beautiful d...
...                  ...                                                ...
1019       C.L. Matthews  She’s forbidden.Too young, too pure, and not m...
1021  Jonathan Kellerman  A disturbing murder with shocking consequences...
1023          Ryan North  "How to Invent Everything is such a cool book....
1097           Joy Ellis  The most difficult case of Detective Jackman’s...
1113     Waubgeshig Rice  With winter looming, a small northern Anishina...

     book_edition     book_format     book_isbn book_pages  book_rating  \
15            NaN             NaN           NaN        NaN         4.25
20            NaN             NaN           NaN        NaN         4.25
142   1st Edition           ebook           NaN        NaN         4.16
147           NaN             NaN           NaN        NaN         4.28
178           NaN             NaN           NaN        NaN         4.13
...           ...             ...           ...        ...          ...
1019          NaN  Kindle Edition           NaN        NaN         3.96
1021          NaN        Audio CD  9.780000e+12        NaN         3.99
1023          NaN           ebook  9.780000e+12        NaN         4.21
1097          NaN       Paperback           NaN        NaN         4.25
1113          NaN             NaN           NaN        NaN         4.06

      book_rating_count  book_review_count  \
15                  346                136
20                 1878                358
142                1766                429
147                2967                471
178                6067                935
...                 ...                ...
1019                284                135
1021               6567                569
1023                463                105
1097               6638                199
1113                365                 81

                                             book_title  \
15                                            Slaughter
20                                           I Dare You
142                                        Pretty Venom
147                                  Unconscious Hearts
178                                   Three Blind Dates
...                                                 ...
1019                                             Firsts
1021                                        Night Moves
1023  How to Invent Everything: A Survival Guide for...
1097                                    The Guilty Ones
1113                           Moon of the Crusted Snow

                                                 genres  \
15          Dark|Romance|Did Not Finish|Sociology|Abuse
20    Dark|Romance|Young Adult|High School|New Adult...
142   New Adult|Romance|Academic|College|Did Not Fin...
147   Romance|Romance|Contemporary Romance|Contempor...
178   Romance|Contemporary|Romance|Contemporary Roma...
...                                                 ...
1019                                                NaN
1021                           Mystery|Fiction|Thriller
1023  Nonfiction|Science|History|Humor|Science Ficti...
1097                           Mystery|Thriller|Fiction
1113  Fiction|Cultural|Canada|Science Fiction|Apocal...

                                              image_url
15    https://images.gr-assets.com/books/1539055928l...
20    https://images.gr-assets.com/books/1524238078l...
142   https://images.gr-assets.com/books/1531891988l...
147   https://images.gr-assets.com/books/1526669971l...
178   https://images.gr-assets.com/books/1513910226l...
...                                                 ...
1019  https://images.gr-assets.com/books/1525109417l...
1021  https://images.gr-assets.com/books/1498798526l...
1023  https://images.gr-assets.com/books/1521557569l...
1097  https://images.gr-assets.com/books/1520199174l...
1113  https://images.gr-assets.com/books/1520285991l...

[70 rows x 12 columns]

In [236]:
book_data = book_data[book_data['book_pages'].notna()]

In [237]:
book_data

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435,4.33,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...
1,Madeline Miller,"In the house of Helios, god of the sun and mig...",NaN,Hardcover,9.780000e+12,393,4.34,61357,9369,Circe,Fantasy|Fiction|Fantasy|Mythology|Historical|H...,https://images.gr-assets.com/books/1508879575l...
2,Holly Black,Of course I want to be like them. They’re beau...,NaN,Hardcover,9.780000e+12,370,4.18,62897,11948,The Cruel Prince,Fantasy|Young Adult|Fairies|Fae,https://images.gr-assets.com/books/1493047153l...
3,A.J. Finn,Anna Fox lives alone—a recluse in her New York...,NaN,Kindle Edition,NaN,449,3.97,175678,20645,The Woman in the Window,Mystery|Thriller|Fiction|Suspense|Thriller|Mys...,https://images.gr-assets.com/books/1528225499l...
4,Tara Westover,An unforgettable memoir in the tradition of Th...,NaN,Hardcover,9.780000e+12,334,4.47,128337,16424,Educated,Nonfiction|Autobiography|Memoir|Biography,https://images.gr-assets.com/books/1506026635l...
...,...,...,...,...,...,...,...,...,...,...,...,...
1136,Alyssa Brandon,A teen werewolf finally meets her destined sou...,NaN,Hardcover,9.780000e+12,304,3.33,359,88,Bound to You,Fantasy|Paranormal|Romance|Fantasy|Shapeshifte...,https://images.gr-assets.com/books/1508489753l...
1137,Crystal Hana Kim,"An emotionally riveting debut novel about war,...",NaN,Hardcover,9.780000e+12,417,3.69,1255,259,If You Leave Me,Historical|Historical Fiction|Fiction|Historic...,https://images.gr-assets.com/books/1508962755l...
1138,Leslie Cohen,This is the classic tale of boy meets girl: Gi...,NaN,Kindle Edition,NaN,320,3.40,1300,272,This Love Story Will Self-Destruct,Romance|Fiction|Womens Fiction|Chick Lit|Conte...,https://images.gr-assets.com/books/1503757123l...
1139,Sarah Beth Durst,The battle between vicious spirits and strong-...,NaN,Hardcover,9.780000e+12,419,3.86,907,205,The Queen of Sorrow,Fantasy|Young Adult|Adult,https://images.gr-assets.com/books/1513185111l...
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,NaN,Hardcover,9.780000e+12,304,3.64,1322,395,My So-Called Bollywood Life,Young Adult|Contemporary|Romance|Fiction|Young...,https://images.gr-assets.com/books/1510586092l...

In [238]:
book_data['book_pages'].astype(int)

0       435
1       393
2       370
3       449
4       334
       ...
1136    304
1137    417
1138    320
1139    419
1140    304
Name: book_pages, Length: 1071, dtype: int64

In [239]:
book_data.dtypes

book_authors          object
book_desc             object
book_edition          object
book_format           object
book_isbn            float64
book_pages            object
book_rating          float64
book_rating_count      int64
book_review_count      int64
book_title            object
genres                object
image_url             object
dtype: object

### Q6: What is the average number of pages? (5 points)

In [244]:
book_page=book_data['book_pages'].astype(float)
book_page

0       435.0
1       393.0
2       370.0
3       449.0
4       334.0
        ...
1136    304.0
1137    417.0
1138    320.0
1139    419.0
1140    304.0
Name: book_pages, Length: 1071, dtype: float64

In [245]:
book_page.mean()

327.9000933706816

### Q7: What is the median number of pages? (5 points)

In [246]:
book_page.median()

328.0

### Q8: Does having more than 1 author result in a longer book on average? What is the average number of pages for books written by a single author? What is it for when there are at least two authors? (We will do more careful analysis for these types of questions later. For now, we just want you to practice using some DataFrame functionalities). (5 points)!

In [ ]:
# 先暂停
author_num

In [248]:
for author_num in book_data["book_pages"]:
    if author_num > 1:
        print(book_data["book_pages"].mean())
        print(book_data["book_pages"].median())

TypeError: '>' not supported between instances of 'str' and 'int'

## Ratings: (30 points)

### Q9: How many books have at least a rating of 4.5? (2.5 points)

### Q10: How about at most a rating of 4.25? (2.5 points)

### Q11: Discretize the ratings. (1,2,3,4,5). (15 points)

### Q12: For each of the discretized ratings (1,2,3,4,5), what is the average number of ratings? (5 points)

### Q13: How about the average number of authors? (5 points)

## Genres: (35 points)

### Q14: Create a new DataFrame, exploding the rows with multiple genres such that it is one row per genre/book. (15 points)

### Q15: What is the average rating of books from different genres? What is the median? (10 points)

### Q16: What is the average length of books from different genres? What is the median? (10 points)